body {
	background-color: #ffeedd;
}

header {
	background-color: #607441;
	margin-bottom: 1rem;
	position: sticky;
	top: 0;
	z-index: 1000;
	border-bottom: 4px solid #523249;
}

.recipe-grid {
	display: grid;
	grid-template-columns: repeat(5, 250px);
	gap: 60px;
	row-gap: 20px;
	justify-content: center;
}
@media (max-width: 768px) {
	.recipe-grid {
		grid-template-columns: repeat(2, 200px);
		gap: 28px;
		justify-content: center;
	}
}
